{{ 'custombestsellers.css' | asset_url | stylesheet_tag }}

{% liquid
  assign current_varient = product.selected_or_first_available_variant
  assign featured_image = current_varient.image | default: product.featured_image
%}

<div class="custombest-seller-slide page-width custom-bestseller--{{ section.id }}">
  <h1 class=" custombest--seller-heading topheader">{{ section.settings.topheading }}</h1>
 
  <div id="bestproduct" class="splide">
    <div class=" custombest--seller-track splide__track">
      {% for block in section.blocks %}
        <ul class=" custombest-seller-splidelist splide__list">
          {% for product in collections[block.settings.collection_handle].products %}
       
            <li class=" custom-seller-best-splide--slide  splide__slide">
      {% render 'product-card', product: product, section_id: section.id %}   

   
    </li>
       
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
 
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var productImages = document.querySelectorAll('.productimages');

    productImages.forEach(function (image) {
      var originalSrc = image.getAttribute('src');
      var alternateSrc = image.getAttribute('data-alternate-src');
      var button = image.parentElement.querySelector('button');
      var eyeIcon = image.parentElement.querySelector('.eye-icon');

      if (alternateSrc) {
        image.addEventListener('mouseenter', function () {
          image.setAttribute('src', alternateSrc);
        
        });

        image.addEventListener('mouseleave', function () {
          image.setAttribute('src', originalSrc);

        });
      }
    });

    new Splide('#bestproduct.splide', {
      pagination: false,
      perPage: 4,
      gap: '20px',

      breakpoints: {
        425: {
          perPage: 1,
          gap: '20px',
        },
        768: {
          perPage: 2,
        },
      },
    }).mount();
  });
</script>

{% schema %}
{
  "name": "Tabs custom bestseller",
  "tag": "section",
  "class": "productslider",
  "settings": [
    {
      "type": "text",
      "id": "topheading",
      "label": "Topheading",
      "default": "Best Sellers"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "collection",
          "id": "collection_handle",
          "label": "Collection",
          "info": "Select the collection to display products from"
        },   
        {
          "type": "url",
          "id": "button_link",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs custom bestseller"
    }
  ]
}
{% endschema %}