
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }

  }
  #main-banner{
   margin-bottom:0;
  }

  .main-collection-banner--breadcrumbs{
    background-color: #f1f2f4;
    padding:10px;
    padding: 15px 1.5rem;
  }
  @media and (min-width:768px){
    .main-collection-banner--breadcrumbs{
      padding: 18px 5rem;
    }
  }
  
.main-collection-banner-container{
  width:100%;
  background-color:#f1f2f4;
}
.main-collection-banner-image-container{
 width:100%;
}
.main-collection-banner-image-container img{
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-collection-banner--text-container{
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  width: auto;
  margin-top: -5rem;
}
.hero-inner-banner{
  width: 100%;
  padding: 4rem 1rem 4rem 3rem;
  background-color:#2d2d2d;
}
@media screen and (min-width:768px){
  .hero-inner-banner{
    width: 40%;
    padding: 4rem 1rem 4rem 3rem;
    margin-top: -6rem;
    position: relative;
  }
}
.collection-banner-heading{
  color:#ffffff;
  font-weight: 700;
  line-height: 1.2;
}



{%- endstyle -%}







<div class="main-collection-banner--breadcrumbs">
  <div class="page-width">
    {% render 'breadcrumbs' %}
  </div>
</div>

<div class="main-collection-banner-container" id="main-banner">
  <div class="main-collection-banner-image-container">
    <img src="{{ collection.image | image_url}}" height="auto" width="auto">
  </div>
  <div class="main-collection-banner--text-container">
    <div class="hero-inner-banner">
      <div >
        <h1 class="collection-banner-heading">Collections</h1>
      </div>
  </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}

