.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    /* padding: calc(4rem + var(--page-width-margin)) 0 calc(4rem + var(--page-width-margin)); */
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: column; 
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}

#main-banner{
  margin-bottom:0;
 }

 .main-collection-banner--breadcrumbs{
   background-color: #f1f2f4;
   padding:10px;
   padding: 15px 1.5rem;
 }
 @media and (min-width:768px){
   .main-collection-banner--breadcrumbs{
     padding: 18px 5rem;
   }
 }
 
.main-collection-banner-container{
 width:100%;
 background-color:#f1f2f4;
}
.main-collection-banner-image-container{
width:100%;
}
.main-collection-banner-image-container img{
 max-height: 300px;
 object-fit: cover;
 width: 100%;
 height: 100%;
}
.main-collection-banner--text-container{
 max-width: 90%;
 margin: 0 auto;
 position: relative;
 width: auto;
 margin-top: -5rem;
}
.hero-inner-banner{
 width: 100%;
 padding: 4rem 1rem 4rem 3rem;
 background-color:#2d2d2d;
}
@media screen and (min-width:768px){
 .hero-inner-banner{
   width: 40%;
   padding: 4rem 1rem 4rem 3rem;
   margin-top: -6rem;
   position: relative;
 }
}
.collection-banner-heading{
 color:#ffffff;
 font-weight: 700;
 line-height: 1.2;
}
