body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .blog-wrapper--header-wrapper {
    margin-bottom: 35px;
  }
  .blog-post-heading{
    margin-bottom: 20px;
  }
  .blog-wrapper--view-all-button {
    background-color: #3a837e;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    appearance: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 12rem;
    justify-content: center;
    margin: 80px auto auto;
    font-weight: 700;
  }
  
  .blog-posts-wrapper .splide__pagination{
    bottom: -2.5em;
  }
  
  .blog-posts-wrapper .splide__pagination .splide__pagination__page {
    background-color: #3a837e;
  }
  
  .blog-posts-wrapper .splide__pagination .splide__pagination__page .is-active {
    background: rgb(58, 131, 126);
    transform: scale(1.4);
    z-index: 1;
  }
  
  
  
  .blog-wrapper--blog-card--blog-text--read-more-wrapper--read-more {
    color: #3a837e;
    text-decoration: none;
  }
  
  .blog-wrapper--blog-card--blog-text--read-more-wrapper--line {
    position: relative;
    height: 2px;
    background-color: #3a837e;
  }
  
  .blog-wrapper--blog-card--blog-text--read-more-wrapper--line::after {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: 10px;
    top: 50%;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #3a837e;
  }
  
  
  .blog-posts-wrapper .splide__slide{
    margin-bottom: 21px;
  }
  
  .blog-card{
      background-color: #fff;
    box-shadow: 0 0 6px #cecece;
  
  }
  .blog-image-wrapper img{
      width: 100%;
      display: block;
      height: 100%;
  }
  .blog-wrapper--blog-card--blog-text{
      padding: 14px;
  }
  
  @media screen and (min-width:900px) and(max-width:1200px) {
    .blog-card{
      width: 50%;
    }
  }
  
  @media screen and (max-width:900px) {
    .blog-card{
      width: 100%;
    }
  }