.custom-announcement-bar--splider-width{
    max-width:100%;
    margin:0 auto;
}
#customSlideshow .custom-announcement-bar--splide-container .splide__arrow{
    background:transparent;
}
#customSlideshow .custom-announcement-bar--splide-container .splide__arrow svg{
    fill:#ffffff;
    height:16px;
    width:16px;
}
.custom-announcement-bar--splide-container{
  width:90%;
}