.product-wrapper--container {
  display: flex;
  gap: 2px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.product-image-slider {
  display: flex;
  gap: 4px;
}

.product-image-slider--thumbnail-slider {
  display: flex;
  flex-direction: column;
  
}

.product-image-slider--thumbnail-slider .splide {
  height: 600px;
  width: 22rem;
  /* left: -20%; */
}

.product-image-slider--thumbnail-slider .splide__slide img {
  object-fit: cover;
  object-position: center;
  border: 4px solid #d5d8d9;
  opacity: 0.5;
  width: 100%;
  display: block;
  cursor: pointer;
  height: 100%;
}

.product-image-slider--thumbnail-slider .splide {
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 900px) {
  .product-image-slider {
      display: flex;
      flex-direction: column-reverse;
      gap: 14px;
  }

  .product-wrapper--container {
      flex-direction: column;
  }
}

.product-image-slider--thumbnail-slider .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 4px solid #3a837e;
}

.product-image-slider--thumbnail-slider .splide__track--nav>.splide__list>.splide__slide.is-active img {
  opacity: 1;
}

.product-image-slider--thumbnail-slider .splide__track--nav>.splide__list>.splide__slide {
  width: 70%;
}

.product-image-slider--main-image img {
  height: 100%;
  width: 100%;
 
}

.product-details-wrapper {
  width: 70%;
  margin-left: 41px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.product-title {
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
}

.avaliable {
  color: #3a837e;
  text-transform: capitalize;
  margin-top: -32px;
}

.not-avaliable {
  color: red;
  text-transform: capitalize;
  margin-top: -32px;
}

.product-price {
  font-size: 3rem;
  font-weight: 700;
  margin-top: -32px;
}

.gift-wrap-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

a {
  color: #333;
}

.product-card-slider .splide__track .splide__list .splide__slide.thumbnail_image_list{
  margin-right: 10px;
  width: fit-content; 
  height: auto;
}
.slider-wrapper--image-splide .splide__arrows--ltr .splide__arrow--prev {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #ffffffbf;
  border: none;
  color: #333;
  z-index: 3;
}

.slider-wrapper--image-splide .splide__arrows--ltr .splide__arrow--next {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #ffffffbf;
  border: none;
  color: #333;
  z-index: 3;
}

@media screen and (min-width:500px)and (max-width:877px)  {
  .product-image-slider--thumbnail-slider .splide{
      height: 121px;
  }
}

@media screen and (max-width:410px){
  .product-image-slider--thumbnail-slider .splide{
      height: 100px;
  }
}
